make.log
make.log.err
*~
*.o

*.lo
*.la
.deps
.libs
libtool
configure
config.*
libtool
*.dSYM

Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
componentinfo.dtd
depcomp
install-sh
ltmain.sh
missing
stamp-h1
starconf.status
t_sofa_c
*.tar.gz
test-driver
src/.dirstamp
t_sofa_c.log
t_sofa_c.trs
test-suite.log
